
@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Index/Views/Shared/_Layout.cshtml";
}
<header class="header_wrap fixed-top header_with_topbar">
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand font-weight-bold text-center" style="font-size:20px; color: #FF324D" href="@Url.Action("Index", "Index")">
                    CỬA HÀNG <br /> GIA DỤNG
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a class="nav-link nav_item" href="@Url.Action("Index", "Index")">Trang chủ</a></li>
                        <li><a class="nav-link nav_item" href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a href="@Url.Action("Account", "Index")" class="nav-link"><i class="linearicons-user"></i></a></li>
                    <li class="dropdown cart_dropdown">
                        <a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">@ViewBag.listCart.Count</span></a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                @{ double totalPrice = 0; }
                                @foreach (var item in ViewBag.listCart)
                                {
                                    totalPrice += item.quantity * item.product.price;
                                <li>
                                    <a href="@Url.Action("Remove", "Index", new { id = @item.product.id, view = "cart" })" class="item_remove"><i class="ion-close"></i></a>
                                    @{ String path = HttpContext.Current.Request.Url.ToString();
                                        path = path.Substring(0, 29);
                                        path = path + item.product.image_main;}
                                    <a href="#"><img src="@path" alt="cart_thumb1">@item.product.name</a>
                                    <span class="cart_quantity"> @item.quantity x <span class="cart_amount">@item.product.price.ToString("N0")</span><span class="price_symbole"> vnđ</span></span>
                                </li>
                                            }
                            </ul>
                            <div class="cart_footer">
                                <p class="cart_total"><strong>Tổng tiền sản phẩm:</strong> <span class="cart_price">@totalPrice.ToString("N0")</span><span class="price_symbole"> vnđ</span></p>
                                <p class="cart_buttons"><a href="@Url.Action("Cart", "Index")" class="btn btn-fill-line view-cart">GIỎ HÀNG</a><a href="@Url.Action("CheckOut", "Index")" class="btn btn-fill-out checkout">THANH TOÁN</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Giỏ hàng</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Index")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giỏ hàng</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="main_content">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Thành tiền</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ double subTotal = 0; }
                                @foreach (var item in ViewBag.listCart)
                                {
                                    subTotal = item.quantity * item.product.price;
                                     String path = HttpContext.Current.Request.Url.ToString();
                                        path = path.Substring(0, 29);
                                        path = path + item.product.image_main;
                                    <tr>
                                        <td class="product-thumbnail"><a href="@Url.Action("Detail", "Index", new { id = @item.product.id })"><img src="@path" alt="@item.product.id"></a></td>
                                        <td class="product-name" data-title="Product"><a href="@Url.Action("Detail", "Index", new { id = @item.product.id })">@item.product.name</a></td>
                                        <td class="product-price" data-title="Price">@item.product.price.ToString("N0") vnđ</td>
                                        <td class="product-quantity" data-title="Quantity">
                                            <div class="quantity">
                                                <a href="@Url.Action("Sub", "Index", new { id = @item.product.id, quantity = 1, view = "cart" })" class="minus">-</a>
                                                <input type="text" name="quantity" value="@item.quantity" title="Qty" class="qty" size="4" disabled />
                                                <a href="@Url.Action("Add", "Index", new { id = @item.product.id, quantity = 1, view = "cart" })" class="plus">+</a>
                                            </div>

                                        </td>
                                        <td class="product-subtotal" data-title="Total">@subTotal.ToString("N0") vnđ</td>
                                        <td class="product-remove" data-title="Remove"><a href="@Url.Action("Remove", "Index", new { id = @item.product.id, view = "cart" })"><i class="ti-close"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Tổng tiền giỏ hàng</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Tổng tiền sản phẩm</td>
                                        <td class="cart_total_amount">@totalPrice.ToString("N0") vnđ</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Phí vận chuyển</td>
                                        <td class="cart_total_amount">20,000 vnđ</td>
                                    </tr>
                                    <tr>
                                        @{totalPrice += 20000;}
                                        <td class="cart_total_label">Tổng thanh toán</td>

                                        <td class="cart_total_amount"><strong> @totalPrice.ToString("N0") vnđ</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="@Url.Action("CheckOut", "Index")" class="btn btn-fill-out">TIẾN HÀNH THANH TOÁN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

