
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Index/Views/Shared/_Layout.cshtml";
}

<header class="header_wrap fixed-top header_with_topbar">
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand font-weight-bold text-center" style="font-size:20px; color: #FF324D" href="@Url.Action("Index", "Index")">
                    CỬA HÀNG <br /> GIA DỤNG
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a class="nav-link nav_item" href="@Url.Action("Index", "Index")">Trang chủ</a></li>
                        <li><a class="nav-link nav_item" href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a href="@Url.Action("Account", "Index")" class="nav-link"><i class="linearicons-user"></i></a></li>
                    <li class="dropdown cart_dropdown">
                        <a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">@ViewBag.listCart.Count</span></a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                @{ double totalPrice = 0; }
                                @foreach (var item in ViewBag.listCart)
                                {
                                    totalPrice += item.quantity * item.product.price;
                                <li>
                                    <a href="@Url.Action("Remove", "Index", new { id = @item.product.id, view = "detail" })" class="item_remove"><i class="ion-close"></i></a>
                                    @{ String path = HttpContext.Current.Request.Url.ToString();
                                        path = path.Substring(0, 29);
                                        path = path + item.product.image_main;}
                                    <a href="#"><img src="@path" alt="cart_thumb1">@item.product.name</a>
                                    <span class="cart_quantity"> @item.quantity x <span class="cart_amount">@item.product.price.ToString("N0")</span><span class="price_symbole"> vnđ</span></span>
                                </li>
                                }
                            </ul>
                            <div class="cart_footer">
                                <p class="cart_total"><strong>Tổng tiền sản phẩm:</strong> <span class="cart_price">@totalPrice.ToString("N0")</span><span class="price_symbole"> vnđ</span></p>
                                <p class="cart_buttons"><a href="@Url.Action("Cart", "Index")" class="btn btn-fill-line view-cart">GIỎ HÀNG</a><a href="@Url.Action("CheckOut", "Index")" class="btn btn-fill-out checkout">THANH TOÁN</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Sản phẩm</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Trang chủ", "Index", "Index")
                    </li>
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Sản phẩm", "Index", "Index")
                    </li>
                    <li class="breadcrumb-item active">@ViewBag.Item.name</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="main_content">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image">
                        <div class="product_img_box">
                            @{ String pathMain = HttpContext.Current.Request.Url.ToString();
                                pathMain = pathMain.Substring(0, 29);
                                pathMain = pathMain + @ViewBag.Item.image_main;}
                            <img id="product_img" src='@pathMain' data-zoom-image="@pathMain" alt="product_img1" />
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>

                        <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                            <div class="item">                           
                                <a href="#" class="product_gallery_item active" data-image="@pathMain" data-zoom-image="@pathMain">
                                    <img src="@pathMain" alt="@ViewBag.Item.name _small_img1" />
                                </a>
                            </div>

                            @if (@ViewBag.Item.image1 != null)
                            {
                                <div class="item">
                                    @{ String path1 = HttpContext.Current.Request.Url.ToString();
                                        path1 = path1.Substring(0, 29);
                                        path1 = path1 + @ViewBag.Item.image1;}
                                    <a href="#" class="product_gallery_item" data-image="@path1" data-zoom-image="@path1">
                                        <img src="@path1" alt="@ViewBag.Item.name _small_img1" />
                                    </a>
                                </div>
                            }
                            @if (@ViewBag.Item.image2 != null)
                            {
                                <div class="item">
                                    @{ String path2 = HttpContext.Current.Request.Url.ToString();
                                        path2 = path2.Substring(0, 29);
                                        path2 = path2 + @ViewBag.Item.image2;}
                                    <a href="#" class="product_gallery_item" data-image="@path2" data-zoom-image="@path2">
                                        <img src="@path2" alt="@ViewBag.Item.name _small_img2" />
                                    </a>
                                </div>
                            }
                            @if (@ViewBag.Item.image3 != null)
                            {
                                <div class="item">
                                    @{ String path3 = HttpContext.Current.Request.Url.ToString();
                                        path3 = path3.Substring(0, 29);
                                        path3 = path3 + @ViewBag.Item.image3;}
                                    <a href="#" class="product_gallery_item" data-image="@path3" data-zoom-image="@path3">
                                        <img src="@path3" alt="@ViewBag.Item.name _small_img3" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title"><a href="#">@ViewBag.Item.name</a></h4>
                            <div class="product_price">
                                <span class="price">@ViewBag.Item.price.ToString("N0") vnđ</span>
                            </div>
                            <div class="pr_desc">
                                <p><br /><br /></p>
                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-frame-expand"></i>Kích thước: @ViewBag.Item.width x @ViewBag.Item.height</li>
                                    <li><i class="linearicons-store"></i> Sản xuất tại: @ViewBag.Item.manufacturer.name</li>
                                    <li><i class="linearicons-bag-dollar"></i> Hình thức vận chuyển COD</li>
                                </ul>
                            </div>

                        </div>
                        @using (Html.BeginForm("Add", "Index", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@ViewBag.Item.id" />
                            <input type="hidden" name="view" value="detail" />
                            <hr />
                            <div class="cart_extra">
                                <div class="cart-product-quantity">
                                    <div class="quantity">
                                        <input type="button" value="-" class="minus">
                                        <input type="text" name="quantity" value="1" title="Qty" class="qty" size="4">
                                        <input type="button" value="+" class="plus">
                                    </div>
                                </div>
                                <div class="cart_btn">
                                    <button class="btn btn-fill-out btn-addtocart" type="submit"><i class="icon-basket-loaded"></i> Thêm vào giỏ hàng</button>
                                    <a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
                                    <a class="add_wishlist" href="#"><i class="icon-heart"></i></a>
                                </div>
                            </div>
                            <hr />
                        }
                        <ul class="product-meta">
                            <li>SKU: <a href="#">@ViewBag.Item.id</a></li>
                            <li>Category: <a href="#">@ViewBag.Item.category.name</a></li>
                        </ul>
                        <div class="product_share">
                            <span>Share:</span>
                            <ul class="social_icons">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Thông tin sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Additional-info-tab" data-toggle="tab" href="#Additional-info" role="tab" aria-controls="Additional-info" aria-selected="false">Thông số kỹ thuật</a>
                            </li>
                        </ul>
                        <div class="tab-content shop_info_tab">
                            <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                                <p>@ViewBag.Item.detail</p>
                            </div>
                            <div class="tab-pane fade" id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Chiều dài</td>
                                        <td>@ViewBag.Item.width cm</td>
                                    </tr>
                                    <tr>
                                        <td>Chiều rộng</td>
                                        <td>@ViewBag.Item.height cm</td>
                                    </tr>
                                    <tr>
                                        <td>Sản xuất tại</td>
                                        <td>@ViewBag.Item.manufacturer.name</td>
                                    </tr>
                                    <tr>
                                        <td>Hình thức vận chuyển</td>
                                        <td>COD</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>